In [2]:
# 1. Write a code to create a string with your name and print it. 
name = "Subham Prakash Swain"
print(name)

Subham Prakash Swain

In [3]:
# 2. Write a code to findthe length of the string "Hello World". 
print(len("Hello World"))

11

In [4]:
# 3. write a code to slice the first 3 characters from the string "Python Programing".
string = "Python Programing"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [5]:
# 4. write the code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [7]:
# 5. write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [8]:
# 6. write a code to creat list with numbers from 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
# 7. write a code append the number 10 to the list [1,2,3,4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [10]:
# 8. write a code to remove the number 3 from the list [1,2,3,4,5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [11]:
# 9. write a code to access the second element from the list ['a','b','c','d'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
# 10. write a code to reverse the list [10,20,30,40,50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [13]:
# 11. write a code to create a touple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [14]:
# 12. write a code to access the second to last elementof the touple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [15]:
# 13. write a code to find the minimum number in the touple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [16]:
# 14. write the code to find the index of the element "cat" in touple ('dog', 'cat', 'mouse').
animals = ('dog', 'cat', 'mouse')
print(animals.index('cat'))

1

In [17]:
#15. write a code to creat a touple containing three different fruits and cheak if "kiwi" is in it.
fruits = ('jack fruit', 'tomato', 'kiwi')
print("kiwi" in fruits)

True

In [20]:
# 16. write a code to creat a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [21]:
# 17. write a cod to clear all elements from the set {1,2,3,4}.
my_set = {1, 2, 3, 4}
my_set.clear()
print(my_set)

set()

In [22]:
# 18. write a code to remove the element4 from the set {1,2,3,4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [23]:
# 19. write a code to find the union of two sets{1,2,3} and {3,4,5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
# 20. write a code to find the intersection of two sets {1,2,3} and {2,3,4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [25]:
# 21. write a code to creat a dictionary with the keys "name", "age", and "city" , and print it. 
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [26]:
# 22. write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'jhon', 'age': 25}.
my_dict = {'name': 'jhon', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'jhon', 'age': 25, 'country': 'USA'}

In [27]:
# 23. write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [28]:
# 24. write a code to remove the key "age" from the dictionary {'name':'Bob', 'age': 22, 'city': 'chikago}.
my_dict = {'name':'Bob', 'age': 22, 'city': 'chikago'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'chikago'}

In [ ]:
# 25. write a code to check if the key "city" exists in the dictionary{'name' : 'Alice', 'city': 'New York}. 
my_dict = {'name' : 'Alice', 'city': 'New York'}
if 'city' in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [30]:
# 26. write a code to creat a list , a touple , a set and a dictionary and print them all.
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
my_set = {1, 2, 3}
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Set:", my_set)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (1, 2, 3)
Set: {1, 2, 3}
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [31]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[23, 51, 55, 75, 84]

In [32]:
# 28.  Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

In [33]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [34]:
# 30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
string_set = set(string_list)
print(string_set)

{'apple', 'elderberry', 'banana', 'date', 'cherry'}